.about {
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: #bfe2ff;
}

.profile-image {
    float: right;
    height: 650px;
    width: 500px;
    object-fit: cover;
    border: 15px solid #00467f;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px
}

.left-image {
    float: left;
    height: 700px;
    width: 400px;
    object-fit: cover;
    border: 15px solid #00467f;
    margin-right: 30px;
    margin-left: 5px;
}

.about text h3 {
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0.5px;
}

.about text p {
    color: rgba(255, 236, 236, .8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 25px;
    margin-bottom: 45px;
    font-family: 'Libre', sans-serif;
    max-width: 400px;
}

button { /*Set up for banner button [colors, padding, etc]*/
    background: #0064b5;
    color: white;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: .4s ease;
    font-family: 'Libre', sans-serif;
}

    button:hover {
        background: #0064b5;
        color: white;
        border: 2px solid solid #0064b5;
        box-shadow: 0 0 10px #bfe2ff, 0 0 10px #bfe2ff;
        cursor: pointer;
        transform: scale(1.0);
    }

body {
    background-color: #bfe2ff;
}

h1 {
    font-family: 'Libre', sans-serif;
    /*  font-size: 50px;*/
    margin-left: 25px;
    color: black;
    font-size: 50px;
    margin-bottom: 0.5px;
    text-transform: capitalize;
}

h2 {
    font-family: 'Libre', sans-serif;
    font-size: 70px;
    margin-left: 25px;
    color: black;
    font-size: 70px;
    margin-bottom: 0.5px;
    text-transform: capitalize;
}

p {
    font-family: 'Libre', sans-serif;
    font-size: 25px;
    margin-left: 15px; /*for about page descripton*/
    margin-right: 55px;
}

@font-face {
    font-family: 'Sankofa';
    src: url('Sankofa.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('Libre.ttf') format('truetype');
}

.image-container {
    position: relative;
    float: left;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 10px solid #00467f;
    margin-top: 10px;
    margin-left: 55px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Libre', sans-serif;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text-hov {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
}

.image-and-description {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between each image and description pair */
    margin-left: 15px;
    margin-top: 15px;
}

.image-display {
    position: relative;
    width: 500px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow: hidden; /* Ensure the image fits within the container */
    object-fit: contain;
    border: 15px solid #00467f;
    margin-right: 20px; /* Space between image and description */
}

.imagewide-display {
    position: relative;
    width: 500px; /* Set the desired width */
    height: 600px; /* Set the desired height */
    border: 10px solid #00467f;
    overflow: hidden; /* Ensure the image fits within the container */
    margin-right: 20px; /* Space between image and description */
}

.imagelong-display {
    position: relative;
    width: 500px; /* Set the desired width */
    height: 800px; /* Set the desired height */
    overflow: hidden; /* Ensure the image fits within the container */
    margin-right: 20px; /* Space between image and description */
    border: 10px solid #00467f;
}

.displaylong-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container without distortion */
}

.displaywide-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container without distortion */
}

.image-display:hover .overlay {
    opacity: 1;
}

.text-display {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
    font-family: 'Libre', sans-serif;
}

.textlong-display {
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    font-family: 'Libre', sans-serif;
}

.description {
    max-width: 425px; /* Adjust as needed */
    float: right;
    margin-right: 15px;
    line-height: 1.5;
    font-size: 18px;
}

    .description p {
        font-size: 16px; /* Adjust as needed for the p tags within the pages */
        line-height: 1.5;
        font-family: 'Libre', sans-serif;
        font-size: 18px;
    }
/*mew*/
.gallery {
    display: flex;
    position: relative;
    justify-content: space-between; /* Space between images */
    flex-wrap: wrap; /* Wrap to next line if needed */
    gap: 10px; /* Adjust gap as needed */
}

.imagehorizontal-display {
    position: relative;
    width: calc(25% - 10px); /* Four items per row, accounting for gap */
    height: 150px; /* Set the desired height */
    overflow: hidden; /* Ensure the image fits within the container */
    margin-right: 20px;
    margin-left: 15px;
}

.displayhorizontal-image {
    width: 200px;
    height: 250px;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border: 10px solid #00467f;
}

.imagehorizontal-display:hover .overlay {
    opacity: 1;
}

.imagewide-display {
    width: 700px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    overflow: hidden; /* Ensure the image fits within the container */
    margin-right: 20px;
}

.displaywide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.imagewide-display:hover .overlay {
    opacity: 1;
}

.text-display {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
    margin-left: 15px;
}

.image-and-description {
    display: flex;
    margin-bottom: 20px; /* Space between each image and description pair */
}

.imagelong-display {
    float: left;
    width: 550px; /* Set the desired width */
    height: 700px; /* Set the desired height */
    overflow: hidden; /* Ensure the image fits within the container */
    margin-bottom: 10px; /* Space between image and description */
}

.displaylong-image {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imagelong-display:hover .overlay {
    opacity: 1;
}

.text-display {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
    margin-left: 15px;
}

.new-container {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Space between the gallery and the description */
    margin-left: 20px;
}

.new-image-display {
    position: relative;
    width: 400px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    border: 10px solid #00467f;
    overflow: hidden;
}

.new-image-link {
    display: block;
    width: 100%;
    height: 100%;
}

.new-display-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.new-image-display:hover .new-overlay {
    opacity: 1;
}

.new-text-display {
    font-size: 20px; /* Adjust as needed */
    font-weight: bold;
    justify-content: center;
    align-content: center;
}

.new-description {
    max-width: 425px; /* Adjust as needed */
    float: right;
    text-align: match-parent;
    margin-right: 15px;
    line-height: 1.5;
}